<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ImageUpscaler</display-name>
    <servlet-name>ImageUpscaler</servlet-name>
    <servlet-class>ImageUpscaler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUpscaler</servlet-name>
    <url-pattern>/ImageUpscaler</url-pattern>
  </servlet-mapping>
  <display-name>Image-Upscaler-Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadImage</display-name>
    <servlet-name>uploadImage</servlet-name>
    <servlet-class>Controllers.uploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadImage</servlet-name>
    <url-pattern>/uploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTasks</display-name>
    <servlet-name>GetTasks</servlet-name>
    <servlet-class>Controllers.GetTasks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTasks</servlet-name>
    <url-pattern>/GetTasks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUpscaledImage</display-name>
    <servlet-name>GetUpscaledImage</servlet-name>
    <servlet-class>Controllers.GetUpscaledImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUpscaledImage</servlet-name>
    <url-pattern>/GetUpscaledImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOriginalImage</display-name>
    <servlet-name>GetOriginalImage</servlet-name>
    <servlet-class>Controllers.GetOriginalImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOriginalImage</servlet-name>
    <url-pattern>/GetOriginalImage</url-pattern>
  </servlet-mapping>
</web-app>